.containers{
  width: 900px;
  height: 500px;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  left: 23%;
  top: 10%;
}

.header{
  width: 100%;
  height: 30px;
  display: flex;
  background-color: black;
}

.dots{
  background-color: grey;
  width:10px;
  height: 10px;
  border-radius: 100px;
  margin: 5px;
  align-self: center;
}

.title{
  position: absolute;
  left: 40%;
  align-self: center;
  color: grey;
}

nav{
  margin: 5px;
  border-radius: 5px;
}

.menustyle{
  position: absolute;
  left: 5px;
  width: 99%;
  height: 50px;
  top: 33px;
  background-color: lightgrey;
  border-radius: 5px;
}

.menustyle ul{
  height: 50px;
  display: flex;
  align-items: center;
}

.menustyle ul li{
  list-style: none;
  margin-right: 25px
}

.menustyle ul li a{
    color: grey;
    text-decoration: none;
}

.menustyle ul li a:hover{
  color: white;
  background-color: black;
}

.dropbox{
  position: absolute;
  left: 15px;
  top: 25%;
  background-color: white;
}

select{
  width: 200px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.information{
  position: absolute;
  top: 35%;
  left: 25px;
  width: 800px;
}

.flex-container{
  display: flex;
  background-color: aqua;
}
 .information h6{
   font-size: 15px;
 }

 .task-data{
   position: absolute;
   left: 10%;
   top: 30%;
 }

 .table{
   display: flex;
   justify-content: space-evenly;
 }

 .table div{
   width: 180px;
   height: 30px;
   font-size: large;
 }

 .table button{
   width: 80px;
   border: 2px solid red;
   border-radius: 3px;
   background-color: red;
   color: white;
 }

 .log-box{
   position: absolute;
   left:5%;
   top:30%;
 }

 .logbtn{
   width: 140px;
   color: gray;
   border: 1px solid grey;
   border-radius: 3px;
 }
